@import '../use/color';
@import '../use/button';

//==========>>>>> Form css  <<<<<<=======\\
.coming {
	margin: 26px 352px;
}


// ==============Resposvive======== \\
@media screen and (max-width:800px){
    .coming {
        margin: 23px 52px;
    }
}    
@media screen and (max-width:414px){
    .coming {
        width: 100%;
        margin: 26px 0px;
    }
}
@media screen and (max-width:375px){
    .coming {
        width: 100%;
        margin: 26px 0px;
    }
}