//==========>>>>> Text color <<<<<<=======\\
$primary-text-white:#fafafa;
$secondary-text:#d0d0d0;
$primary-text-black:#141414;
$primary-text-hover:#ff5722;
$Neutrals950:#3e3e3e;
$Neutrals800:#535353;
$Neutrals50:#f6f6f6;
$Neutrals100:#e5e5e5;

//==========>>>>> Button color <<<<<<=======\\
$primary-button-white:#fafafa;
$primary-button-black:#141414;
$primary-button-hover:#ff5722;

//==========>>>>> Background Color <<<<<<=======\\
$bg-white:#fafafa;
$bg-orange:#ff5722;


//==========>>>>> All Font  <<<<<<=======\\
$primary-font:"Roboto", serif;
$secondary-font:"Helvetica Neue LTW0697BlkCnObl";