@import '../use/color';
@import '../use/button';

//==========>>>>> Navber css  <<<<<<=======\\
.navbar-brand {
	width: 160px;
}

.nav-link.home{
    color: $primary-text-hover;
    font-family: $primary-font;
    margin: 0px 16px;
}
.nav-link.home:hover{
    color: $primary-text-black;
}
.nav-link{
    color: $primary-text-black;
    font-family: $primary-font;
    margin: 0px 16px;
}
.nav-link:hover{
    color: $primary-text-hover
}
.navbar-nav{
    margin: 0 auto;
}

//==========>>>>> Nabver Responsive Button <<<<<<=======\\
.navbar-toggler{
    background: $primary-button-hover;
}
.navbar-toggler:hover{
    border:2px solid $primary-button-hover;
    background: $primary-button-white;
}

